<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resizable Layout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <script src="{{ url_for('static', filename='js/speaker.js') }}"></script>
    <!-- <style></style> -->
</head>

<body>
    <div id="left-side">
        <div class="left-section video">動画</div>
        <div class="left-section conversation">
            <div id="conversation">

            </div>
        </div>
    </div>
    <div id="right-side">構文解析</div>
</body>

</html>
