<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>英語スクリプト作成app</title>
  <link rel="stylesheet" href="css/sample2.css">
  <!-- <script type="text/javascript" src="sample.js"></script> -->
</head>

<body>
  <!-- <div class="header">英語スクリプト作成app</div> -->

  <div class="main">
    <h1>スクリプト生成ソフト</h1>
  </div>
  <div class="box">
    <div class="link">
      リンク<br>
      <input type="text" name="example1" size="50"></p>
    </div>
    音声・動画アップ<br>
    <div class="filearea" id="video" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
      <label>
        <input type="file" accept='video/*, audio/*' onchange="preview(this, 'preview-video');">
        <!-- <p class="selecter">＋ファイル選択 または ファイルドロップ</p> -->
        <!-- <p class="select-file" id="preview-video-file">選択されてません</p>
        <video class="preview pre-select" id="preview-video" controls="controls"></video> -->
      </label>
    </div>
  </div>
  <button class="uploadbutton" type="button">スクリプト生成</button>
  
  
  
  <!-- <div class="footer">
    <span>Footer領域</span>
    <a href="#">リンク</a>
  </div> -->
</body>
</html>